DB_URL=jdbc:postgresql://db:5432/shortener_db
DB_USERNAME=your_username
DB_PASSWORD=your_password
BASE_URL=http://your_ip
REDIS_PASSWORD=your_redis_password
KAFKA_BOOTSTRAP_SERVERS=kafka:9092
ANALYTICS_SERVICE_URL=http://analytics:8081